.header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-blue);
}

.nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.span{
    color: var(--green-button);
}

.loginBtn {
  background: transparent;
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.loginBtn:hover {
  background: var(--primary-blue);
  color: white;
}

.registerBtn {
  background: var(--dark-blue);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.registerBtn:hover {
  background: var(--darker-blue);
}